<!DOCTYPE html>
<html>
    <header>
    <h2>SHANE WOODMAN</h2>
    <nav>
      <ul>
        <li>Portfolio</li>
        <li>Contact</li>
        <li>About</li>
      </ul>
    </nav>
  </header>
</html>