<!DOCTYPE html>
<html>
  <header>
    <h2>SHANE WOODMAN</h2>
    <nav>
      <ul>
        <li>Portfolio</li>
        <li>Contact</li>
        <li>About</li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <p>Hey, I'm Shane. An aspiring software engineer from North Carolina.</p>
      <button>View My Work</button>
    </section>
  </main>








</html>