 <!DOCTYPE html>
<html>
  <main>
    <section>
      <p>Hey, I'm Shane.<br><br>
      An aspiring software engineer from North Carolina, excited to solve problems in the professional world. 
      <br><br>
      <button><%= link_to "View My Work", portfolio_path %></button></p>
      <%= image_tag("https://live.staticflickr.com/65535/53921793988_0ae62865f6_b.jpg") %>
    </section>
  </main>

</html>