header { 
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Space out items */
  align-items: center; /* Align items vertically */
  padding: 15px;
  background-color:none; /* Set background color */
}

header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  padding: 0 15px;
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Arrange items horizontally */
  justify-content: flex-end; /* Align items to the right */
  width: 100%; /* Ensure the nav takes full width */
}

nav ul li {
  padding: 0 20px; /* Add spacing between items */
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(https://mrwallpaper.com/images/high/lighter-solid-grey-background-lg6bup60ibh9mpel.webp);
  font-family: "Roboto", sans-serif;
  font-weight: 250;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
 
 main section {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0 0;
 }

main section p {
  max-width: 400px;
  margin: 0 15px 0 60px;
  text-align: left;
  font-size: 20px;
}

main section button {
  display: inline-block;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: 200;
  border-radius: 8px;
  border: none;
}


main section img {
  max-width: 30%;
  height: auto;
  margin: 0 60px 0 15px;
  border: 6px inset;
}

footer {
  background-color: white;
}

footer p {
  font-weight: 300;
  text-align: center;
}


footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

footer ul li img {
  width: 50px;
  height: 50px;
  padding: 15px;
}